@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Tambahkan animasi hover pada kartu */
.hover\:shadow-lg {
  transition: box-shadow 0.3s ease-in-out;
}

.hover\:shadow-lg:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
